extends base

block content
  .content
    h2(style='margin-top: 0;') مرحباً #{firstName}!
    p نود أن نرحب بك في نظام إدارة الأعمال. نحن سعداء بانضمامك إلينا.
    p يمكنك الآن تسجيل الدخول إلى حسابك باستخدام بريدك الإلكتروني وكلمة المرور التي قمت بتسجيلها.
    
    a.btn(href=url, style='background-color: #2ecc71;') الانتقال إلى لوحة التحكم
    
    p إذا كنت بحاجة إلى مساعدة أو لديك أي استفسارات، فلا تتردد في التواصل مع فريق الدعم لدينا.
    
    p مع أطيب التحيات،
    br
    فريق نظام إدارة الأعمال
